@CHARSET "UTF-8";

table tr td {
	border: 1px solid lightgray;
}

td {
	width: 450px;
	word-wrap:break-word;
	word-break:break-all;
}

.form-horizontal .control-group {
    margin-bottom: 0px;
}

td div > div {
	margin-top: 5px;
}

/* td div > label {
	margin-top: 15px;
} */
.control-label {
	margin-top: 2px;
	font-weight: bold;
}

.control-group {
  padding-bottom: 5px;
  margin-bottom: 0px;
  border-bottom: 0;
}

.controls {
	margin-right: 50px;
}